<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="w-full h-screen p-10 items-center">
    <h1 class="text-4xl font-bold tracking-wider">Shoppo</h1>
    
    <div class="flex items-center justify-center gap-10 mt-36" >
        <form class="flex flex-col gap-2 " action="/users/register" method="post">
            <h1 class="text-3xl">Welcome to <span class="text-blue-500 font-bold">Shoppo</span></h1    >
            <h2 class="tracking-tighter text-xl">Create your Account</h2>
            <input type="text" class="w-96 bg-zinc-100 rounded-md px-4 py-2" placeholder="Full Name" name="fullname" required>
            <input type="email" class="w-96 bg-zinc-100 rounded-md px-4 py-2" placeholder="Email" name="email" required>
            <input type="password" class="w-96 bg-zinc-100 rounded-md px-4 py-2" placeholder="Password" name="password" required>
            <input type="submit" class="text-white bg-blue-500 px-3 py-2 w-36 rounded-3xl border-2 hover:bg-blue-700 cursor-pointer" value="Create Account">
        </form>
        <form class="flex flex-col gap-2" action="users/login" method="post">
            <h2 class="tracking-tighter text-xl" >Login</h2>
            <input type="email" class="w-96 bg-zinc-100 rounded-md px-4 py-2" placeholder="Email" name="email" required>
            <input type="password"class="w-96 bg-zinc-100 rounded-md px-4 py-2" placeholder="Password" name="password" required> 
            <input type="submit" class="text-white ///// bg-blue-500 px-3 py-2 w-36 rounded-3xl hover:bg-blue-700 cursor-pointer">
        </form>
    </div>

    
</body>

    
</body>
</html>